{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}
    <div class="container">
        <form id="contact" action="/signup/create" method="post">
            <div>
                <h3>Personal Details</h3>
                <section>
                    <label for="firstname">First Name *</label>
                    <input id="firstname" name="firstname" type="text" class="required" value="{{ user.firstName }}">
                    <label for="lastname">Last Name *</label>
                    <input id="lastname" name="lastname" type="text" class="required" value="{{ user.lastName }}">
                    <label for="telephone">Telephone *</label>
                    <input id="telephone" name="telephone" type="text" class="required number" value="{{ user.telephone }}">
                    <p>(*) Mandatory</p>
                </section>
                <h3>Your Address</h3>
                <section>
                    <label for="address">Address *</label>
                    <input id="address" name="address" type="text" class="required" value="{{ user.address }}">
                    <label for="city">City *</label>
                    <input id="city" name="city" type="text" class="required" value="{{ user.city }}">
                    <label for="zip">Zip Code *</label>
                    <input id="zip" name="zip" type="text" class="required number" value="{{ user.zip }}">
                    <label for="house_number">House Number *</label>
                    <input id="house_number" name="house_number" type="text" class="required number" value="{{ user.houseNumber }}">
                    <p>(*) Mandatory</p>
                </section>
                <h3>Payment Details</h3>
                <section>
                    <label for="account_owner">Account Owner *</label>
                    <input id="account_owner" name="account_owner" type="text" class="required" value="{{ user.accountOwner }}">
                    <label for="iban">Iban *</label>
                    <input id="iban" name="iban" type="text" class="required" value="{{ user.iban }}">
                    <p>(*) Mandatory</p>
                </section>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/app.js"></script>
{% endblock %}
